.slider-controller-container {
  width: inherit;
  height: inherit;
  overflow: hidden;
  position: relative;
}

.selectors {
  position: absolute;
  display: flex;

  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;

  .carousel-selector {
    display: block;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 25px;
    margin: 0 7px;
    z-index: 11;
    cursor: pointer;
    overflow: hidden;

    // transition: all 1s;
    &:before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      transform: translateY(100%);
      z-index: 0;
      background-color: #a0a0a0a2;
      transition: transform 1s;
    }
  }

  .selector-active:before {
    transform: translateY(0);
  }
}

