.text-slide-1-container{
    height: inherit;
    width: inherit;
    display: flex;
    position: relative;
    z-index: 10;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    width: inherit;
    justify-content: center;
    align-items: center;

    span{
        color: whitesmoke;
        margin-top: 7px;
        &.textslide-title{
            font-size: 3em;
            text-align: center;
        }

        &.textslide-subtitle{
            font-size: 1.5em;
            text-align: center;
        }
    }
}